<div class="px-3 py-2 bg-secondary text-white">
    <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <h2 href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
        <svg class="bi d-block mx-auto mb-1 " width="24" height="24"></svg>
        {{title}}          
        </h2>
    <a type="button" class="btn btn-danger filled" href="/dealer" class="nav-link text-white">
    Back to dealer dashboard
    </a>
    <a type="button" class="btn btn-danger filled marginLeft" href="/" class="nav-link text-white">
    Logout
    </a>                
    </div>
    </div>
</div> 
</br>
<div class="row">
    <div class="table-container">
        <table class="table" style="width:100%">
            <thead id="colored-table">
                <th>Order Id</th>
                <th>Number</th>
                <th>Brand</th>
                <th>Color</th>
                <th>Price</th>
                <th>AssetType</th>
                <th></th>
               
            </thead>
            <tbody>
                {{#each itemList}}
                <tr>
                    <td>{{this.Key}}</td>
                    <td>{{this.Record.number}}</td>
                    <td>{{this.Record.brand}}</td>
                    <td>{{this.Record.color}}</td>
                    <td>{{this.Record.price}}</td>
                    <td>{{this.Record.assetType}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
</div>
<script src='/javascripts/main.js'></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
